<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/section.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  </head>
  
  <body >
<!-- style="background-color: #e3f2fd; -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top ps-3" style="background-color: #242e39;">
  <a class="navbar-brand" href="/" style="color: #fff; font-size:x-large;">
    <i>Dr.</i><b> Symp</b>
  </a>

  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#form">Symptom Checker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#htw">How It Works</a>
      </li>
    </ul>
  </div>
</nav>
    {% block body %}
        
    {% endblock body %}
    <div class="footer container-fluid">Made with &#10083; by Jal-Lads</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>  </body>
</html>